@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0E1116;
  -webkit-font-smoothing: antialiased;
}

#login:has(div:hover) div:not(:hover) {
  opacity: .6;
  scale: .90
}